<!-- views/partials/_footer.ejs -->

<footer class="footer">
  <% if (userId) { %>
    <p class="footer-links">
      <a href="/">Home - </a>
      <a href='/logout'>Logout</a>
    </p>
      <p class="footer-company-name">
      Victoria Community Calendar</p>
  <% } else { %>
    <p class="footer-links">
      <a href="/">Home - </a>
      <a href="/register">Register - </a>
      <a href="/login">Login</a>
    </p>
    <p class="footer-company-name">
      Victoria Community Calendar</p>
  <% } %>
</footer>
