<!-- views/partials/_footer.ejs -->

<footer class="footer-centered">
  <% if (userId) { %>
    <p class="footer-links">
      <a href="/">Home - </a>
      <a href='/logout'>Logout</a>
    </p>
      <p class="footer-company-name">
      Victoria Community Calendar</p>
  <% } else { %>
    <p class="footer-links">
      <a href="/">Home - </a>
      <a href="/register">Register - </a>
      <a href="/login">Login</a>
    </p>
    <p class="footer-company-name">
      Victoria Community Calendar</p>
  <% } %>
</footer>

<style>

  .footer-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0,12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .footer-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
  }

  .footer-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }

  .footer-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
</style>
