<!-- views/partials/_footer.ejs -->

<footer class="footer">
  <% if (userId) { %>
    <div class="footer-link">
      <a href="/">Home</a> -
      <a href="/user/<%= userId %>/show">User Profile</a> -
      <form class="footer-logout" action="/user/logout" method="POST">
        <input type="submit" value="Logout" class="btn btn-link">
      </form>
    </div>
      <p class="footer-company-name">Victoria Community Calendar</p>
  <% } else { %>
    <div class="footer-link">
      <a href="/">Home</a> -
      <a href="/user/register">Register</a> -
      <a href="/user/login">Login</a>
    </div>
    <p class="footer-company-name">Victoria Community Calendar</p>
  <% } %>
</footer>
