<!-- views/partials/_header.ejs -->

<header>

  <nav>
    <ul>
      <% if (userId) { %>
        <li class="left"><a href="/">Home</a></li>
        <li class="left">
          <a href="/<%= userId %>/show">User Profile</a>
        </li>
        <img src="/images/logo.png" class="logo">
        <li class="right">
          <form class="logout" action="/logout" method="POST">
            <input type="submit" value="Logout">
          </form>
        </li>
      <% } else { %>
        <li class="left"><a href="/">Home</a></li>
        <img src="/images/logo.png" class="logo">
        <li class="right"><a href="/register">Register</a></li>
        <li class="right"><a href="/login">Login</a></li>
      <% } %>
    </ul>
  </nav>

</header>
