<!-- views/partials/_header.ejs -->

<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" class="navbar-brand logo">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-menu-hamburger navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="header-link">Home</a></li>
        <% if (userId) { %>
          <li><a href="/user/<%= userId %>/show" class="header-link">User Profile</a></li>
          <li>
            <form class="logout" action="/user/logout" method="POST">
              <input type="submit" value="Logout" class="btn btn-block btn-link logout-button">
            </form>
          </li>
        <% } else { %>
          <li><a href="/user/register" class="header-link">Register</a></li>
          <li><a href="/user/login" class="header-link">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
