<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Victoria Community Calendar
    </title>

    <% include partials/_head.ejs %>

  </head>

  <body>

    <% include partials/_header.ejs %>

    <div class="container">
      <div class="form-container col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Create An Event</h2>
        <form action="/create-event" method="POST">
          <div class="form-group">
            <label for="place-id">Place ID:</label>
            <input type="text" class="form-control" id="placeID" placeholder="Enter Place ID (see below)" name="placeID" required autofocus>
          </div>
          <div class="form-group">
            <label for="name">Event Name:</label>
            <input type="text" class="form-control" id="event" placeholder="Enter the events name" name="event" required>
          </div>
          <div class = "form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" placeholder="Enter a description of the event" name="description" required>
          </div>
          <div class = "form-group">
            <label for="start-date">Start Date:</label>
            <input type="text" class="form-control" id="start_date" placeholder="Start Date" name="start_date" required>
          </div>
          <div class = "form-group">
            <label for="end_date">End Date:</label>
            <input type="text" class="form-control" id="end-date" placeholder="End Date" name="end_date" required>
          </div>
          <div class = "form-group">
            <label for="price_range">Price Range:</label>
            <input type="text" class="form-control" id="price-range" placeholder="0 = Free, 1 = < $10, 2 = < $100, 3 = > $100" name="price_range" required>
          </div>
          <div class = "form-group">
            <label for="source">Source:</label>
            <input type="text" class="form-control" id="source" placeholder="Enter the Events Website" name="source" required>
          </div>
          <button type="submit" class="btn btn-block btn-parimary">Create Event</button>
        </form>
      </div>
    </div>

    <table class="create-event-table">
      <tr>
        <th>ID</th>
        <th>Place</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Archie Browning Sports Centre</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Esquimalt Recreation Centre</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Juan De Fuca Recreation Centre</td>
      </tr>
      <tr>
        <td>4</td>
        <td>The Q Centre</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Henderson Recreation Centre</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Monterey Recreation Centre</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Oak Bay Recreation Centre</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Panorama Recreation Centre</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Greenglade Community Centre</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Cedar Hill Golf Course</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Cedar Hill Recreation Centre</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Gordon Head Recreation Centre</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Pearkes Recreation Centre</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Sannich Commonwealth Place</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Crystal Pool and Centre</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Royal Athletic Park</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Save-On-Foods Memorial Centre</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Blanshard Community Centre</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Quadra Village Community Centre</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Burnside Community Centre</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Fairfield Community Centre</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Fairfield Activity Centre</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Fernwood Community Centre</td>
      </tr>
      <tr>
        <td>24</td>
        <td>James Bay Community Centre</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Oaklands Community Centre</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Victoria West Community Centre</td>
      </tr>
      <tr>
        <td>27</td>
        <td>James Bay New Horizons</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Victoria Silver Threads</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Burnside Gorge Community Centre</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Fairfield Community Place</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Fairfield Community Centre - Garry Oaks Room</td>
      </tr>
      <tr>
        <td>32</td>
        <td>James Bay Community School Centre</td>
      </tr>
      <tr>
        <td>33</td>
        <td>Oaklands Neighbourhood House (Little Acorn)</td>
      </tr>
      <tr>
        <td>34</td>
        <td>YMCA-YMCA Downtown</td>
      </tr>
      <tr>
        <td>35</td>
        <td>SEAPARC Leisure Complex</td>
      </tr>
      <tr>
        <td>36</td>
        <td>Eagle Ridge Community Centre</td>
      </tr>
      <tr>
        <td>37</td>
        <td>North Langford Recreation Centre</td>
      </tr>
      <tr>
        <td>38</td>
        <td>Langford Lanes</td>
      </tr>
      <tr>
        <td>39</td>
        <td>Westhills Arena</td>
      </tr>
      <tr>
        <td>40</td>
        <td>Westhills Stadium</td>
      </tr>
      <tr>
        <td>41</td>
        <td>Goudy Field</td>
      </tr>
      <tr>
        <td>42</td>
        <td>City Centre Park and Family Fun Zone</td>
      </tr>
      <tr>
        <td>43</td>
        <td>YMCA-YWCA Westhills</td>
      </tr>
      <tr>
        <td>44</td>
        <td>YMCA-YWCA Eagle Creek</td>
      </tr>
      <tr>
        <td>45</td>
        <td>Centennial Centre</td>
      </tr>
      <tr>
        <td>46</td>
        <td>Bear Mountain Arena</td>
      </tr>
      <tr>
        <td>47</td>
        <td>Juan De Fuca Arena</td>
      </tr>
      <tr>
        <td>48</td>
        <td>Wild Play West Shore Element Park</td>
      </tr>
      <tr>
        <td>49</td>
        <td>Juan De Fuca Par 3 Golf Course</td>
      </tr>
      <tr>
        <td>50</td>
        <td>Shoreline Community Middle School</td>
      </tr>
      <tr>
        <td>51</td>
        <td>Butchart Gardens</td>
      </tr>
      <tr>
        <td>52</td>
        <td>Metchosin Arts and Cultural Centre</td>
      </tr>
      <tr>
        <td>53</td>
        <td>Shaw Centre for the Salish Sea</td>
      </tr>
      <tr>
        <td>54</td>
        <td>British Columbia Aviation Museum</td>
      </tr>
      <tr>
        <td>55</td>
        <td>Caleb Pike House</td>
      </tr>
      <tr>
        <td>56</td>
        <td>Canadian Scottish Regimental Museum</td>
      </tr>
      <tr>
        <td>57</td>
        <td>Craigdarroch Castle and Historic House Museum</td>
      </tr>
      <tr>
        <td>58</td>
        <td>Heritage Acres (Saanich Historical Artificats Society)</td>
      </tr>
      <tr>
        <td>59</td>
        <td>Maritime Museum of British Columbia</td>
      </tr>
      <tr>
        <td>60</td>
        <td>Sooke Region Museum and Visitor Centre</td>
      </tr>
      <tr>
        <td>61</td>
        <td>Art Gallery of Greater Victoria</td>
      </tr>
      <tr>
        <td>62</td>
        <td>Royal BC Museum</td>
      </tr>
      <tr>
        <td>63</td>
        <td>CFB Esquimalt Naval and Military Museum</td>
      </tr>
      <tr>
        <td>64</td>
        <td>Saanich Pioneers Museum and Archives</td>
      </tr>
      <tr>
        <td>65</td>
        <td>Sidney Museum and Archives</td>
      </tr>
    </table>



    <% include partials/_footer.ejs %>

  </body>
</html>
