<!-- views/event.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>
      Victoria Community Calendar
    </title>

    <% include partials/_head.ejs %>

    <script type="text/javascript" src="/scripts/event.js"></script>

  </head>
  <body>

    <% include partials/_header.ejs %>

    <div id="map"></div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
    </script>

    <% if (userId) { %>
      <button class="save-event" type="button">Save Event</button>
    <% } else { %>
    <% } %>


  </body>

  <% include partials/_footer.ejs %>

</html>
