<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/_head.ejs %>


    <title>
      Victoria Community Calendar
    </title>
  </head>

  <body class="home-page-body">

    <% include partials/_header.ejs %>

    <div class="container">

      <div class="dropdown btn-group">
        <button type="button" class="dropbtn btn btn-default dropdown-toggle" data-toggle="dropdown">Choose a Region<span class="caret"></span></button>
        <ul class="dropdown-content dropdown-menu scrollable-menu" role="menu">
          <li><a href="/BC/colwood">Colwood</a></li>
          <li><a href="/BC/central-saanich">Central Saanich</a></li>
          <li><a href="/BC/esquimalt">Esquimalt</a></li>
          <li><a href="/BC/highlands">Highlands</a></li>
          <li><a href="/BC/langford">Langford</a></li>
          <li><a href="/BC/metchosin">Metchosin</a></li>
          <li><a href="/BC/north-saanich">North Saanich</a></li>
          <li><a href="/BC/oak-bay">Oak Bay</a></li>
          <li><a href="/BC/saanich">Saanich</a></li>
          <li><a href="/BC/sidney">Sidney</a></li>
          <li><a href="/BC/sooke">Sooke</a></li>
          <li><a href="/BC/victoria">Victoria</a></li>
          <li><a href="/BC/view-royal">View Royal</a></li>
        </ul>
      </div>

      <div class="dropdown btn-group">
        <button type="button" class="dropbtn btn btn-default dropdown-toggle" data-toggle="dropdown">Choose a Centre<span class="caret"></span></button>
        <ul class="dropdown-content dropdown-menu scrollable-menu" role="menu">

          <li><a href="/BC/esquimalt/achie-browning-sports-centre">Archie Browning Sports Centre</a></li>

          <li><a href="/BC/victoria/art-gallery-of-greater-victoria">Art Gallery of Greater Victoria</a></li>

          <li><a href="/BC/colwood/bear-mountain-arena">Bear Mountain Arena</a></li>

          <li><a href="/BC/victoria/blanshard-community-centre">Blanshard Community Centre</a></li>

          <li><a href="/BC/north-saanich/british-columbia-aviation-museum">British Columbia Aviation Museum</a></li>

          <li><a href="/BC/victoria/burnside-community-centre"> Burnside Community Centre</a></li>

          <li><a href="/BC/victoria/burnside-gorge-community-centre">Burnside Gorge Community Centre</a></li>

          <li><a href="/BC/central-saanich/butchart-gardens">Butchart Gardens</a></li>

          <li><a href="/BC/highlands/caleb-pike-house">Caleb Pike House</a></li>

          <li><a href="/BC/victoria/canadian-scottish-regimental-museum">Canadian Scottish Regimental Museum</a></li>

          <li><a href="/BC/saanich/cedar-hill-golf-course">Cedar Hill Golf Course</a></li>

          <li><a href="/BC/saanich/cedar-hill-recreation-centre">Cedar Hill Recreation Centre</a></li>

          <li><a href="/BC/langford/centennial-centre">Centennial Centre</a></li>

          <li><a href="/BC/esquimalt/cfb-esquimalt-naval-and-military-museum">CFB Esquimalt Naval and Military Museum</a></li>

          <li><a href="/BC/langford/city-centre-park-&-family-fun-zone">City Centre Park and Family Fun Zone</a></li>

          <li><a href="/BC/victoria/craigdarroch-castle-and-historic-house-museum">Craigdarroch Castle and Historic House Museum</a></li>

          <li><a href="/BC/victoria/crystal-pool-&-fitness-centre">Crystal Pool and Fitness Centre</a></li>

          <li><a href="/BC/langford/eagle-ridge-community-centre">Eagle Ridge Community Centre</a></li>

          <li><a href="/BC/esquimalt/esquimalt-recreation-centre">Esquimalt Recreation Centre</a></li>

          <li><a href="/BC/victoria/fairfield-activity-centre">Fairfield Activity Centre</a></li>

          <li><a href="/BC/victoria/fairfield-community-centre">Fairfield Community Centre</a></li>

          <li><a href="/BC/victoria/fairfield-community-centre---garry-oaks-room">Fairfield Community Centre - Garry Oaks Room</a></li>

          <li><a href="/BC/victoria/fairfield-community-place">Fairfield Community Place</a></li>

          <li><a href="/BC/victoria/fernwood-community-centre">Fernwood Community Centre</a></li>

          <li><a href="/BC/north-saanich/greenglade-community-centre">Green Glade Community Centre</a></li>

          <li><a href="/BC/saanich/gordon-head-recreation-centre">Gordon Head Recreation Centre</a></li>

          <li><a href="/BC/langford/goudy-field">Goudy Field</a></li>

          <li><a href="/BC/oak-bay/henderson-recreation-centre">Henderson Recreation Centre</a></li>

          <li><a href="/BC/central-saanich/heritage-acres-saanich-historical-artifacts-society">Heritage Acres (Saanich Historical Artificats Society)</a></li>

          <li><a href="/BC/victoria/james-bay-community-centre">James Bay Community Centre</a></li>

          <li><a href="/BC/victoria/james-bay-community-school-centre"> James Bay Community School Centre</a></li>

          <li><a href="/BC/victoria/james-bay-new-horizons">James Bay New Horizons</a></li>

          <li><a href="/BC/victoria/juan-de-fuca-arena">Juan de Fuca Arena</a></li>

          <li><a href="/BC/colwood/juan-de-fuca-par-3-golf-course">Juan De Fuca Par 3 Golf Course</a></li>

          <li><a href="/BC/colwood/juan-de-fuca-recreation-centre">Juan de Fuca Recreation Centre</a></li>

          <li><a href="/BC/langford/langford-lanes">Langford Lanes</a></li>

          <li><a href="/BC/victoria/maritime-museum-of-bc">Maritime Museum of British Columbia</a></li>

          <li><a href="/BC/metchosin/metchosin-arts-and-cultural-centre">Metchosin Arts and Cultural Centre</a></li>

          <li><a href="/BC/oak-bay/monterey-recreation-centre">Monterey Recreation Centre</a></li>

          <li><a href="/BC/langford/north-langford-recreation-centre">North Langford Community Centre</a></li>

          <li><a href="/BC/oak-bay/oak-bay-recreation-centre">Oak Bay Recreation Centre</a></li>

          <li><a href="/BC/victoria/oaklands-community-centre">Oaklands Community Centre</a></li>

          <li><a href="/BC/victoria/oaklands-neighbourhood-house-(little-acorn)">Oaklands Neighbourhood House</a></li>

          <li><a href="/BC/victoria/panorama-recreation-centre">Panorama Recreation Centre</a></li>

          <li><a href="/BC/saanich/pearkes-recreation-centre">Pearkes Recreation Centre</a></li>

          <li><a href="/BC/victoria/quadra-village-community-centre">Quadra Village Community Centre</a></li>

          <li><a href="/BC/victoria/royal-athletic-park">Royal Athletic Park</a></li>

          <li><a href="/BC/victoria/royal-bc-museum">Royal BC Museum</a></li>

          <li><a href="/BC/saanich/saanich-commonwealth-place">Saanich Commonwealth Place</a></li>

          <li><a href="/BC/central-saanich/saanich-pioneers-museum-and-archives">Saanich Pioneers Museum and Archives</a></li>

          <li><a href="/BC/victoria/save-on-foods-memorial-centre">Save-On-Foods Memorial Centre</a></li>

          <li><a href="/BC/sooke/separc-leisure-complex">SEAPARC Leisure Complex</a></li>

          <li><a href="/BC/sidney/shaw-centre-for-the-salish-sea">Shaw Centre for the Salish Sea</a></li>

          <li><a href="/BC/view-royal/shoreline-community-middle-school">Shoreline Community Middle School</a></li>

          <li><a href="/BC/sidney/sidney-museum-and-archives">Sidney Museum and Archives</a></li>

          <li><a href="/BC/sooke/sooke-region-museum-&-visitor-centre">Sooke Region Museum and Visitor Centre</a></li>

          <li><a href="/BC/colwood/the-q-centre">The Q Centre</a></li>

          <li><a href="/BC/victoria/victoria-silver-threads">Victoria Silver Threads</a></li>

          <li><a href="/BC/victoria/victoria-west-community-centre">Victoria West Community Centre</a></li>

          <li><a href="/BC/langford/westhills-arena">Westhills Arena</a></li>

          <li><a href="/BC/langford/westhills-stadium">Westhills Stadium</a></li>

          <li><a href="/BC/colwood/wildplay-west-shore-element-park">Wild Play West Shore Element Park</a></li>

          <li><a href="/BC/victoria/ymca-ywca-downtown">YMCA-YWCA Downtown</a></li>

          <li><a href="/BC/view-royal/ymca-ywca-eagle-creek">YMCA-YWCA Eagle Creek</a></li>

          <li><a href="/BC/langford/ymca-ywca-westhills">YMCA-YWCA Westhills</a></li>
        </ul>
      </div>

      <div class="dropdown btn-group">
        <button type="button" class="dropbtn btn btn-default dropdown-toggle" data-toggle="dropdown">Choose an Price Range<span class="caret"></span></button>
        <ul class="dropdown-content dropdown-menu scrollable-menu" role="menu">
          <li><a href="/price/0">Free!</a></li>
          <li><a href="/price/1">Less Than $10</a></li>
          <li><a href="/price/2">Between $10 and $100</a></li>
          <li><a href="/price/3">More Then $100</a></li>
        </ul>
      </div>

    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
