<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/_head.ejs %>


    <title>
      Victoria Community Calendar
    </title>
  </head>

  <body>

    <% include partials/_header.ejs %>

    <div class="dropdown">
      <button class="dropbtn">Choose A Region</button>
      <div class="dropdown-content">
        <a href="search">Victoria</a>
        <a href="search">Oak Bay</a>
        <a href="search">Esquimalt</a>
        <a href="search">Saanich</a>
        <a href="search">Esquimalt</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Choose A Centre</button>
      <div class="dropdown-content">
        <a href="search">Crystal Pool</a>
        <a href="search">Oaklands Community Association</a>
        <a href="search">Royal BC Museum</a>
        <a href="search">Gordon Head Recreation Centre</a>
        <a href="search">Westhills YMCA</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Choose an Activity</button>
      <div class="dropdown-content">
        <a href="search">Swimming</a>
        <a href="search">Hiking</a>
        <a href="search">Skating</a>
      </div>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
