<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Victoria Community Calendar
    </title>
  </head>

  <body>
    <p>Welcome to the Victoria Community Calendar</p>
  </body>
</html>
