<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/_head.ejs %>


    <title>
      Victoria Community Calendar
    </title>
  </head>

  <body>

    <% include partials/_header.ejs %>

    <div class="dropdown">
      <button class="dropbtn">Choose A Region</button>
      <div class="dropdown-content">
        <a href="/BC/Victoria">Victoria</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Choose A Centre</button>
      <div class="dropdown-content">
        <a href="/BC/Victoria/Oaklands%20Community%20Association">Oaklands Community Association</a>
        <a href="/BC/Victoria/Victoria%20West%20Community%20Centre">Victoria West Community Centre</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Choose an Activity</button>
      <div class="dropdown-content">
        <a href="search">Swimming</a>
        <a href="search">Hiking</a>
        <a href="search">Skating</a>
      </div>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
