<!-- views/search.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Victoria Community Calendar
    </title>

    <% include partials/_head.ejs %>

     <script type="text/javascript" src="/scripts/search.js"></script>

  </head>

  <body>


    <% include partials/_header.ejs %>

    <main></main>

    <% include partials/_footer.ejs %>

  </body>
</html>
