<!-- views/search.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Victoria Community Calendar
    </title>

    <% include partials/_head.ejs %>

  </head>

  <body>
    <p>Search Results Go Here</p>
  </body>
</html>