<!DOCTYPE hmtl>
<html>
  <head>
    <title>
      Victoria Community Calendar
    </title>
    <% include partials/_head.ejs %>

    <script type="text/javascript" src="/scripts/user.js"></script>
  </head>

  <body>

    <% include partials/_header.ejs %>

    <div>
      <input type="hidden" id="user-profile-id" value="<%=user.id%>">
      <h1><span class="user-name-highlight"><%=user.name%></span></h1>
    </div>

    <div>
      <h3>Saved Events</h3>
      <div class="saved-events"></div>
    </div>

    <div>
      <h3> Favourited Places</h3>
      <main class="favourited-places"></main>
    </div>

    <% include partials/_footer.ejs %>

  </body>
</html>
