$break-point-small: 320px;
$break-point-mid: 500px;
$price-color-0: rgba(78, 177, 81, 1);
$price-color-1: rgba(70, 160, 73, 1);
$price-color-2: rgba(62, 142, 65, 1);
$price-color-3: rgba(54, 124, 57, 1);
$price-color-4: rgba(47, 106, 49, 1);
$price-color-5: rgba(47, 106, 49, 1);
$price-color-background: rgba(220, 239, 220, 1);
$price-button-text-color: #ffffff;
$price-button-font-weight: 600;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 140px;
}

header {
  nav {
    background-color: #292c2f;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow:hidden;
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
    }
    h1 {
      text-align: center;
    }
    .header-link:hover {
      color: #ffffff;
      text-decoration: underline;
    }
    .logo {
      position: absolute;
      left: 50%;
      margin-left: -52px !important;
      padding-top: 5px;
      display: block;
    }
    .logout-button {
      border: 0;
      height: 50px;
      padding: 15px 15px;
      text-align: center;
    }
    .navbar-brand {
      padding: 0;
    }
    .navbar-nav {
      margin-left: 0;
    }
    .navbar-right {
      margin-right: 0;
    }
    .navbar-toggle {
      padding: 6px 10px;
    }
    .navbar-toggler-icon {
      color: white;
    }
  }
}

footer {
  .footer-link {
    a {
      color: #9d9d9d;
    }
    a:hover {
      color: #ffffff;
      text-decoration: underline;
    }
    color: #9d9d9d;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 35px 0 23px;
  }
  .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .footer-logout {
    .btn {
      border: 0;
      color: #9d9d9d;
      font-size: 18px;
      font-weight: bold;
      margin-top: -4px;
      padding: 0;
    }
    .btn:hover {
      color: #ffffff;
    }
    display: inline;
  }
  background-color: #292c2f;
  bottom: 0;
  box-sizing: border-box;
  height: 140px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%
}

.btn-link-list {
  margin-bottom: 15px;
}

.delete-button {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100px;
}

.delete-dropdown {
  padding: 5px;
  min-width: 0;
  max-width: 100px;
}

/* A full-screen transparent div that is created when a dropdown menu opens */
/* Default z-index is 990, which covers navigation in Chrome mobile */
.dropdown-backdrop {
  z-index: 0;
}

/* Dropdown content (hidden by default until dropdown button is clicked) */
.dropdown-content {
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-menu {
  li {
    a {
      font-size: 16px;
      padding: 8px 15px;
    }
  }
  border: 1px solid #ccc;
  margin: 0;
}

.dropdown-nav {
  .dropdown-button {
    margin-bottom: 20px;
  }
  display: block;
}

.favourite-button {
  margin-top: 20px;
}

.home-page-body {
  background: url("/images/victoria/victoria-hero-inner-harbour-parliament.jpg") no-repeat center center fixed;
  background-size: cover;
}

.map-event {
  @media only screen and (max-width: $break-point-small) {
    height: 300px;
  }
  @media only screen and (max-width: $break-point-mid) {
    height: 400px;
  }
  @media only screen and (min-width: $break-point-mid) {
    height: 500px;
  }
}

.map-place-event-search {
  height: 200px;
}

.price-box{
  .price-denominator {
    color: #888;
  }
  .price-range {
    color: $price-color-3;
    margin: 0;
  }
  background-color: $price-color-background;
  border-radius: 5px;
  display: inline-block;
  font-weight: 900;
  margin-bottom: 10px;
  padding: 10px;
}

.price-buttons {
  .price-button {
    color: $price-button-text-color;
    font-weight: $price-button-font-weight;
    padding: 16px;
  }
  .price-button:hover {
    background-color: $price-color-5;
  }
  .price-button-left {
    background-color: $price-color-0;
    border: 1px solid $price-color-4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .price-button-middle {
    border: 1px solid $price-color-4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .price-button-right {
    background-color: $price-color-3;
    border: 1px solid $price-color-4;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .price-button-middle-left {
    background-color: $price-color-1;
  }
  .price-button-middle-right {
    background-color: $price-color-2;
  }
  margin: 20px 0;
}

.scrollable-menu {
  height: auto;
  margin-top: 46px;
  max-height: 200px;
  overflow-x: hidden;
}

.well.authentication-well{
  p {
    margin-bottom: 0;
  }
  line-height: 1em;
  margin-top: 40px;
  text-align: center;
}

.well-icon-text {
  .calendar-icon {
    display: block;
  }
  padding-left: 15px;
  padding-right: 15px;
}

.favourited-places-body {
  float: right;
  position: absolute;
  top: 115;
  right: 75;
}
