html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 180px;
}

header {
  nav {
    background-color: #292c2f;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow:hidden;
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
    }
    h1 {
      text-align: center;
    }
    .header-link:hover {
      color: #ffffff;
      text-decoration: underline;
    }
    .logo {
      position: absolute;
      left: 50%;
      margin-left: -52px !important;
      padding-top: 5px;
      display: block;
    }
    .logout-button {
      border: 0;
      height: 50px;
      padding: 15px 15px;
      text-align: center;
    }
    .navbar-brand {
      padding: 0;
    }
    .navbar-nav {
      margin-left: 0;
    }
    .navbar-right {
      margin-right: 0;
    }
    .navbar-toggler-icon {
      color: white;
    }
  }
}

footer {
  .footer-link {
    a {
      color: #9d9d9d;
    }
    a:hover {
      color: #ffffff;
      text-decoration: underline;
    }
    color: #9d9d9d;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 35px 0 23px;
  }
  .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .footer-logout {
    .btn {
      border: 0;
      color: #9d9d9d;
      font-size: 18px;
      font-weight: bold;
      margin-top: -4px;
      padding: 0;
    }
    .btn:hover {
      color: #ffffff;
    }
    display: inline;
  }
  background-color: #292c2f;
  bottom: 0;
  box-sizing: border-box;
  height: 140px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  margin-bottom: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown-menu {
  border: 1px solid #ccc;
  margin: 0;
}

.home-page-body {
  background-attachment: fixed;
  background-image: url("/images/victoria/victoria-hero-inner-harbour-parliament.jpg");
  background-position: center;
  background-size: cover;
}

.price-box{
  .price-denominator {
    color: #888;
  }
  .price-range {
    color: #255704;
    margin: 0;
  }
  background-color: #eee;
  display: inline-block;
  font-weight: 900;
  margin-bottom: 10px;
  padding: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.well.authentication-well{
  p {
    margin-bottom: 0;
  }
  line-height: 1em;
  margin-top: 40px;
  text-align: center;
}

.well-icon-text {
  .calendar-icon {
    display: block;
  }
  padding-left: 15px;
  padding-right: 15px;
}

.favourited-places-body {
  float: right;
  position: absolute;
  top: 115;
  right: 75;
}
